<div class="containerMainHome">
    <div class="tituloHome">
        <h1 class="tituloTexto">Bem vindo ao sistema simplificado de controle de patrimônio!</h1>
    </div>
    <div class="containerCards">
        <div class="primeiraLinha">
            <a href="/materiaisww">
                <div class="cardsHome">
                    <p>Materiais</p>
                </div>
            </a>
            <a href="/">
                <div class="cardsHome">
                    <p>Baixa</p>
                </div>
            </a>
            <a href="/">
                <div class="cardsHome">
                    <p>Depreciação</p>
                </div>
            </a>
        </div>
        <div class="segundaLinha">
            <a href="/">
                <div class="cardsHome">
                    <p>Veículos</p>
                </div>
            </a>
            <a href="/">
                <div class="cardsHome">
                    <p>Valorização</p>
                </div>
            </a>
            <a href="/">
                <div class="cardsHome">
                    <p>Imóveis</p>
                </div>
            </a>
        </div>
    </div>
</div>