<div class="container-fluid">
    <form action="/validarLogin" method="get">
        <div class="containerImagem">
            <img src="/image/Logo.jpeg" class="img-fluid" alt="Imagem responsiva" />
        </div>
                
        <div class="containerLogin">
            <label for="login">Login</label>
            <input type="text" class="form-control" name="login" id="txtLogin" />
        </div>
                
        
        <div class="containerSenha">
            <label for="txtSenha">Senha</label>
            <input type="password" class="form-control" id="txtSenha" />
        </div>

        <div class="containerBotaoLogin">
            <button id="Submit" class="btn btn-outline-success" >Entrar</button>
        </div>
        
    </form>
    <div class="containerBotaoLogin">
        <a href="/cadastrarUsuario"><button class="btn btn-outline-primary" onclick="redirecionarCriarUsuario()" >Criar Usuário</button></a>
    </div>
</div>