<div class="container-fluid">
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-3 col-xs-1"></div>
        <div class="col-md-6 col-xs-10" style="border-color: gray!important; border-width: 0.5px; border-radius: 10px; border: solid;">
            <div class="row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <img src="Imagens/Logo.png" class="img-fluid" style="width: 50%; margin-left: 25%;" alt="Imagem responsiva">
                </div>
                <div class="form-group col-md-3"></div>
            </div>
            <div class="row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <label for="txtLogin">Login</label>
                    <input type="text" class="form-control" id="txtLogin">
                </div>
            </div>
            <div class="form-group col-md-3"></div>
            <div class="row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <label for="txtSenha">Senha</label>
                    <input type="password" class="form-control" id="txtSenha">
                </div>
                <div class="form-group col-md-3"></div>
            </div>
            <div class="row" style="margin-top:10px; padding:5px;">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <button id="Submit" class="btn btn-outline-primary" style="width:100%;">Clique Aqui</button>
                </div>
                <div class="form-group col-md-3"></div>
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-3 col-xs-1"></div>
    </div>

</div>