<div class="containerMainMateriais">
    <h1 class="tituloFormulario">Cadastrar Material</h1>
    <form action="/cadastrarmaterial" method="post">
        <input type="text" class="inputFormulario" name="codigo" id="codigo" placeholder="Informe o código">
        <input type="text" name="descricao" id="descricao" placeholder="Informe a descricao">
        <input type="text" name="valor" id="valor" placeholder="Informe o valor">
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
</div>